.fruits{
    border: 2px solid mediumblue;
    text-align: justify;
    font-family: cursive;
    background-color: #fc9882;
      color: bisque;
    margin: 5px;
    padding: 5px;}

.Fruits{
    border: 2px solid mediumblue;
    text-align: justify;
    font-family: cursive;
    background-image: url("Assets/images/orange3.jpeg");
    margin: 20px;
    padding: 5px;
    background-color: bisque;
      color: bisque;

    background-attachment: fixed;
}
.cars{
    border: 3px solid darkgoldenrod;
    text-align: right;
    font-family: "Noto Mono";
  color: bisque;
    background-color: darkcyan;
    margin-left: auto;
    width: 500px;
    background-image:url("Assets/images/toyota2.jpeg");
}
.FRUITS{border: 2px double tomato;
text-align: left;
background-color: dodgerblue;
font-family: Laksaman;
margin: 0;
padding: 10px;
width: 500px}
#computers{
    border: 3px solid #6aff14;
    text-align: center;
    margin: auto;
    background-color: darkslateblue;
    font-family: Serif;
    width: 600px;
} ul{
            list-style-type: none;
            margin: 0;
            padding:10px;
            overflow: hidden;
          background-color:rebeccapurple ;
    position: fixed;
    width: 100%;
        }
        li{float: left;
        }
        li a{
            padding: 10px;
            color:black;
            display: block;
            text-decoration: none;
        }
        li a:hover{
            background-color: dodgerblue;
        }

        body{
             background-color: #282626
        }
